<div class="main_header">
  <div class="group_name">hogefuga</div>
  <div class="chat_close">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main_content">
  <div class="message_info">
    <div class="post_name">Tom</div>
    <div class="post_date">2020/3/31(Wed) 12:43:30</div>
  </div>
  <div class="message_content">おはよう</div>
  <div class="message_info">
    <div class="post_name">Tom</div>
    <div class="post_date">2020/3/31(Wed) 12:47:30</div>
  </div>
  <div class="message_content">こんばんわ</div>
</div>

<div class="main_footer">
  <form class="form_frame">
    <div class="form_input">
      <input type="text", placeholder="type a message", class="comment_form">
      <label class="form_image">
        <span class="image_file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit", value="送信", class="send_btn">
  </form>
</div>